# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.DS_Store
*.json
.vscode
vendor

.idea

examples/_fixtures/*-result.jpg
examples/_fixtures/*-result.txt
examples/detect_file/_fixtures*.txt
examples/detect_file/*-result*.txt
examples/detect_memory/_fixtures*.txt
examples/detect_memory/*-result.txt
